{% extends 'base.html' %}
{% block content %}

<style>

/* ================= FEED WRAPPER ================= */

.feed-wrapper{
    max-width:650px;
    margin:30px auto;
    padding:10px;
}

/* ================= FILTER BAR ================= */

.filters{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
}

.filter{
    padding:8px 14px;
    border-radius:20px;
    border:1px solid #ddd;
    cursor:pointer;
    font-size:13px;
    color:#666;
    background:white;
}

.filter.active{
    background:#4f46e5;
    color:white;
    border:none;
}

/* ================= POST CARD ================= */

.post-card{
    background:white;
    border-radius:15px;
    padding:15px;
    margin-bottom:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

/* HEADER */

.post-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.user{
    font-weight:600;
    font-size:14px;
}

.mood{
    font-size:11px;
    padding:4px 10px;
    border-radius:15px;
    background:#eef2ff;
    color:#4f46e5;
}

/* CONTENT */

.post-content{
    font-size:15px;
    color:#333;
    line-height:1.6;
    margin-bottom:10px;
}
.bg1{
    background:#f3f4f6;
}

.bg2{
    background:#dbeafe;
}

.bg3{
    background:#fce7f3;
}

.bg4{
    background:linear-gradient(
        135deg,
        #d1fae5,
        #bfdbfe
    );
}

/* QUOTE STYLE BACKGROUND */

.quote-box{
    padding:20px;
    border-radius:12px;
    font-style:italic;
}
.quote-week-card{
    background:linear-gradient(
        135deg,
        #4f46e5,
        #7c3aed
    );
    color:white;
    padding:25px;
    border-radius:16px;
    margin-bottom:25px;
    text-align:center;
    box-shadow:0 10px 25px rgba(79,70,229,0.2);
}

.week-title{
    font-size:13px;
    letter-spacing:1px;
    text-transform:uppercase;
    opacity:0.9;
    margin-bottom:12px;
}

.week-content{
    font-size:20px;
    line-height:1.6;
    font-weight:600;
    margin-bottom:12px;
}

.week-author{
    font-size:13px;
    opacity:0.8;
}
/* FOOTER */

.post-actions{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    font-size:13px;
    color:#777;
}

.actions-left{
    display:flex;
    gap:15px;
}

/* BUTTON LOOK */

.action{
    cursor:pointer;
}

.action:hover{
    color:#4f46e5;
}

.comment-box{
    display:none;
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #eee;
}

.comment-box input{
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:10px;
    margin-bottom:8px;
}
.comments-list{
    margin-top:15px;
}

.comments-list{
    max-height:200px;
    overflow-y:auto;
    scrollbar-width:none;
    margin-top:10px;
    border-top:1px solid #eee;
    padding-top:10px;
}

.comment-item{
    background:#f8f8f8;
    padding:8px 12px;
    border-radius:8px;
    margin-bottom:8px;
    justify-content:space-between;
  
}

.comment-item p{
    margin:5px 0 0;
    font-size:14px;
}

.comment-box button{
    padding:8px 14px;
    background:#4f46e5;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:13px;
}
.comment-left{
    display:flex;
    gap:6px;
    align-items:center;
}

.delete-comment{
    font-size:12px;
    text-decoration:none;
    color:#999;
    transition:0.2s;
    padding-left: 550px;
}

.delete-comment:hover{
    color:red;
}

</style>

<div class="feed-wrapper">

    <!-- FILTERS -->
    <div class="filters">
        <a href="{% url 'feed' %}"
        class="tab {% if not current_type %}active{% endif %}" style="text-decoration: none;">
        All
        </a>

        <a href="{% url 'feed' %}?type=quote"
        class="tab {% if current_type == 'quote' %}active{% endif %}" style="text-decoration: none;">
        Quotes
        </a>

        <a href="{% url 'feed' %}?type=poem"
        class="tab {% if current_type == 'poem' %}active{% endif %}" style="text-decoration: none">
        Poems
        </a>

        <a href="{% url 'feed' %}?type=story"
        class="tab {% if current_type == 'story' %}active{% endif %}" style="text-decoration: none;">
        Stories
        </a>
    </div>
    {% if quote_of_week %}

<div class="quote-week-card">

    <div class="week-title">
        🌟 Quote Of The Week
    </div>

    <div class="week-content">
        "{{ quote_of_week.quote.content }}"
    </div>

    <div class="week-author">
        —
        {% if quote_of_week.quote.is_anonymous %}
            Anonymous
        {% else %}
            {{ quote_of_week.quote.user.username }}
        {% endif %}
    </div>

</div>

{% endif %}
    <!-- POST 1 -->
    {% for post in feed_items %}

    {% if post.type == 'post' %}

    {% with post=post.data %}
    <a href="{% url 'post_detail' post.id %}"
     style="text-decoration:none;color:inherit;">
    <div class="post-card">
      
        <div class="post-header">
            <div class="user">{% if post.is_anonymous %}
                Anonymous
            {% else %}
                {{ post.user.username }}
            {% endif %}</div>
            <div class="mood">{{ post.mood|title }}</div>
        </div>

        {% if post.post_type == 'quote' %}

        <div class="quote-box {{ post.background }}">
            "{{ post.content }}"
        </div>

        {% else %}

        <div class="post-content">
            {{ post.content|truncatechars:300 }}
        </div>

        {% endif %}

        <div class="post-actions">
            <div class="actions-left">
                <a href="{% url 'like_post' post.id %}"
                    style="text-decoration:none;">
                    ❤️ {{ post.likes.count }}
                </a>
                <div class="action"
                    onclick="toggleComment({{ post.id }})">
                    💬 Comment ({{ post.comments.count }})
                </div>
            </div>
            <button type="button"
                onclick="toggleSave(event, {{ post.id }})"
                id="save-btn-{{ post.id }}"
                data-saved="{% if post.id in saved_posts %}1{% else %}0{% endif %}">
                {% if post.id in saved_posts %}
                    🔖 Saved
                {% else %}
                    🔖 Save
                {% endif %}
            </button>
            <!-- 💬 CHAT BUTTON -->
                <a href="{% url 'start_chat' post.id%}"
                   onclick="event.stopPropagation();"
                   style="
                        text-decoration:none;
                        background:#4f46e5;
                        color:white;
                        padding:6px 10px;
                        border-radius:8px;
                        font-size:12px;
                   ">
                    💬 Chat
                </a>
        </div>
        <div class="comment-box"
            id="comment-{{ post.id }}">

            <form method="POST"
                action="{% url 'comment_post' post.id %}">

                {% csrf_token %}

                <input
                    type="text"
                    name="comment"
                    placeholder="Write a comment..."
                >

                <button type="submit">
                    Comment
                </button>

            </form>
            <div class="comments-list">

                {% for comment in post.comments.all|dictsortreversed:"created_at" %}

                    <div class="comment-item">

                        <strong>
                            {{ comment.user.username }}
                        </strong>

                        <span>
                            {{ comment.content }}
                        </span>
                        {% if comment.user == request.user %}
                        <a href="{% url 'delete_comment' comment.id %}"
                        class="delete-comment">
                            🗑️
                        </a>
                        {% endif %}

                    </div>

                {% empty %}

                    <p>No comments yet.</p>

                {% endfor %}

            </div>

        </div>

    </div>
    {% endwith %}

        {% elif post.type == 'storychain' %}

        <div class="post-card"  onclick="window.location='{% url 'story_detail' post.data.id %}'">
            
            <div class="post-header">

                <div class="user">
                    📖 {{ post.data.created_by.username }}
                </div>

                <div class="mood">
                    Continue Story
                </div>

            </div>

            <h3 style="margin-bottom:10px;">
                {{ post.data.title }}
            </h3>

            <div class="post-content">
                {{ post.data.starter_content|truncatechars:250 }}
            </div>

            <div class="post-actions">

                <span>
                    Chapters:
                    {{ post.data.contributions.count }}
                </span>

                <a href="{% url 'continue_story' post.data.id %}"
                style="text-decoration:none;color:#4f46e5;font-weight:600;">
                    Continue Story →
                </a>
                <!-- 💬 CHAT BUTTON -->
                <a href="{% url 'start_chat' post.data.id %}"
                   onclick="event.stopPropagation();"
                   style="
                        text-decoration:none;
                        background:#4f46e5;
                        color:white;
                        padding:6px 10px;
                        border-radius:8px;
                        font-size:12px;
                   ">
                    💬 Chat
                </a>

            </div>

        </div>

        {% endif %}
    {% endfor %}

</div>
<script>

function toggleComment(postId){

    let box = document.getElementById(
        "comment-" + postId
    );

    if(box.style.display === "block"){
        box.style.display = "none";
    }
    else{
        box.style.display = "block";
    }
}


function getCookie(name) {
    let cookieValue = null;

    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();

            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }

    return cookieValue;
}

function toggleSave(event, postId) {

    console.log("SAVE CLICKED", postId);

    event.preventDefault();
    event.stopPropagation();

    let btn = document.getElementById("save-btn-" + postId);

    fetch(`/posts/${postId}/save_post/`, {
        method: "POST",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"),
        }
    })
    .then(res => res.json())
    .then(data => {

        if (data.saved) {
            btn.innerText = "🔖 Saved";
            btn.setAttribute("data-saved", "1");
        } else {
            btn.innerText = "🔖 Save";
            btn.setAttribute("data-saved", "0");
        }

    });

}

</script>
{% endblock %}
