{% extends 'base.html' %}
{% block content %}

<style>

/* ================= FEED WRAPPER ================= */

.feed-wrapper{
    max-width:650px;
    margin:30px auto;
    padding:10px;
}

/* ================= FILTER BAR ================= */

.filters{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
}

.filter{
    padding:8px 14px;
    border-radius:20px;
    border:1px solid #ddd;
    cursor:pointer;
    font-size:13px;
    color:#666;
    background:white;
}

.filter.active{
    background:#4f46e5;
    color:white;
    border:none;
}

/* ================= POST CARD ================= */

.post-card{
    background:white;
    border-radius:15px;
    padding:15px;
    margin-bottom:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

/* HEADER */

.post-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.user{
    font-weight:600;
    font-size:14px;
}

.mood{
    font-size:11px;
    padding:4px 10px;
    border-radius:15px;
    background:#eef2ff;
    color:#4f46e5;
}

/* CONTENT */

.post-content{
    font-size:15px;
    color:#333;
    line-height:1.6;
    margin-bottom:10px;
}
.bg1{
    background:#f3f4f6;
}

.bg2{
    background:#dbeafe;
}

.bg3{
    background:#fce7f3;
}

.bg4{
    background:linear-gradient(
        135deg,
        #d1fae5,
        #bfdbfe
    );
}

/* QUOTE STYLE BACKGROUND */

.quote-box{
    padding:20px;
    border-radius:12px;
    font-style:italic;
}

/* FOOTER */

.post-actions{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    font-size:13px;
    color:#777;
}

.actions-left{
    display:flex;
    gap:15px;
}

/* BUTTON LOOK */

.action{
    cursor:pointer;
}

.action:hover{
    color:#4f46e5;
}

.comment-box{
    display:none;
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #eee;
}

.comment-box input{
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:10px;
    margin-bottom:8px;
}
.comments-list{
    margin-top:15px;
}

.comments-list{
    max-height:200px;
    overflow-y:auto;
    scrollbar-width:none;
    margin-top:10px;
    border-top:1px solid #eee;
    padding-top:10px;
}

.comment-item{
    background:#f8f8f8;
    padding:8px 12px;
    border-radius:8px;
    margin-bottom:8px;
    justify-content:space-between;
  
}

.comment-item p{
    margin:5px 0 0;
    font-size:14px;
}

.comment-box button{
    padding:8px 14px;
    background:#4f46e5;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:13px;
}
.comment-left{
    display:flex;
    gap:6px;
    align-items:center;
}

.delete-comment{
    font-size:12px;
    text-decoration:none;
    color:#999;
    transition:0.2s;
    padding-left: 550px;
}

.delete-comment:hover{
    color:red;
}

</style>

<div class="feed-wrapper">

    <!-- FILTERS -->
    <div class="filters">
        <a href="{% url 'feed' %}"
        class="tab {% if not current_type %}active{% endif %}" style="text-decoration: none;">
        All
        </a>

        <a href="{% url 'feed' %}?type=quote"
        class="tab {% if current_type == 'quote' %}active{% endif %}" style="text-decoration: none;">
        Quotes
        </a>

        <a href="{% url 'feed' %}?type=poem"
        class="tab {% if current_type == 'poem' %}active{% endif %}" style="text-decoration: none">
        Poems
        </a>

        <a href="{% url 'feed' %}?type=story"
        class="tab {% if current_type == 'story' %}active{% endif %}" style="text-decoration: none;">
        Stories
        </a>
    </div>

    <!-- POST 1 -->
    {% for post in posts %}
    <a href="{% url 'post_detail' post.id %}"
     style="text-decoration:none;color:inherit;">
    <div class="post-card">
      
        <div class="post-header">
            <div class="user">{% if post.is_anonymous %}
                Anonymous
            {% else %}
                {{ post.user.username }}
            {% endif %}</div>
            <div class="mood">{{ post.mood|title }}</div>
        </div>

        {% if post.post_type == 'quote' %}

        <div class="quote-box {{ post.background }}">
            "{{ post.content }}"
        </div>

        {% else %}

        <div class="post-content">
            {{ post.content|truncatechars:300 }}
        </div>

        {% endif %}

        <div class="post-actions">
            <div class="actions-left">
                <a href="{% url 'like_post' post.id %}"
                    style="text-decoration:none;">
                    ❤️ {{ post.likes.count }}
                </a>
                <div class="action"
                    onclick="toggleComment({{ post.id }})">
                    💬 Comment ({{ post.comments.count }})
                </div>
            </div>
            <div class="action">⭐ Save</div>
        </div>
        <div class="comment-box"
            id="comment-{{ post.id }}">

            <form method="POST"
                action="{% url 'comment_post' post.id %}">

                {% csrf_token %}

                <input
                    type="text"
                    name="comment"
                    placeholder="Write a comment..."
                >

                <button type="submit">
                    Comment
                </button>

            </form>
            <div class="comments-list">

                {% for comment in post.comments.all|dictsortreversed:"created_at" %}

                    <div class="comment-item">

                        <strong>
                            {{ comment.user.username }}
                        </strong>

                        <span>
                            {{ comment.content }}
                        </span>
                        {% if comment.user == request.user %}
                        <a href="{% url 'delete_comment' comment.id %}"
                        class="delete-comment">
                            🗑️
                        </a>
                        {% endif %}

                    </div>

                {% empty %}

                    <p>No comments yet.</p>

                {% endfor %}

            </div>

        </div>

    </div>
    {% endfor %}

</div>
<script>

function toggleComment(postId){

    let box = document.getElementById(
        "comment-" + postId
    );

    if(box.style.display === "block"){
        box.style.display = "none";
    }
    else{
        box.style.display = "block";
    }
}

</script>
{% endblock %}
